---
import Price from "../components/Price";
import Layout from "../layouts/Layout.astro";
import BackBtn from "../components/icons/BackBtn.astro";
import { Notification } from "../components/Notification";

const apiUrl = import.meta.env.PUBLIC_DATABASE_URL;
const { gid } = Astro.params;
const res = await fetch(`${apiUrl}/api/gamess/${gid}`);
const game = await res.json();
---

<Layout title=`Game Tracker | hola`>
  <main
    class="relative flex flex-col justify-start h-screen w-[800px] mx-auto pt-20"
  >
    <img class="max-w-[800px] rounded-lg" src={game.imageUrl} alt={game.name} />
    <h1 class="text-3xl font-bold mx-4 mt-4">{game.name}</h1>
    <div class="flex flex-row flex-wrap mx-5 mt-3 gap-2">
      {
        game.genres &&
          game.genres.map((genre: string) => (
            <span class="text-md font-light px-2 rounded-xl bg-neutral-500 grid place-items-center">
              {genre}
            </span>
          ))
      }
    </div>
    <Price game={game} client:only="react" />
    <BackBtn />
    <Notification game={game} client:only="react" />
  </main>
</Layout>
